<div class="table-responsive">
    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>序号</th>
                <th>地址</th>
                <th>房号</th>
                <th>用户编号</th>
                <th>姓名</th>
                <th>联系电话</th>
                <th>气表类型</th>
                <th>品牌</th>
                <th>进气方向</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            {volist name="listData" id="vo"}
            <tr class="{$vo.id}">
                <td class="center">
                    {$vo.id}
                </td>
                <td>{$vo.areaName}{$vo.xqName}</td>
                <td>{$vo.dong}{$vo.unit}单元{$vo.room}</td>
                <td>{$vo.cstcode}</td>
                <td>{$vo.cstname}</td>
                <td class="hidden-480">
                    {$vo.telphone}
                </td>
                <td class="hidden-480">
                    {$vo.typeName}
                </td>
                <td class="hidden-480">
                    {$vo.brandName}
                </td>
                <td class="hidden-480">
                    {$vo.direction}
                </td>
            </tr>
            {/volist}
            <tr style="background-color: #f5f5f5;">
                <td></td>
                <td colspan="10">
                    <button class="icon-cloud-download" style="background-color: #17a3ff;color: #FFF;border-style: none ;padding: 5px 10px;float: right;margin-left: 1%;cursor: pointer">
                        导出数据
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="padding-top:10px ;background-color: #f0f3f8;width: 100%;height: 50px">
        <div class="col-sm-4">
                <div class="dataTables_info" id="sample-table-2_info">
                    当前
                    {if condition="$pageCount eq 0 "}
                    0
                    {else/}
                    {$page}
                    {/if}
                    /
                    {if condition="$pageCount eq '' "}
                    0
                    {else/}
                    {$pageCount}
                    {/if}
                    页，共
                    {if condition="$count eq '' "}
                    0
                    {else/}
                    {$count}
                    {/if}
                    条
                </div>
            </div>
        <div class="col-sm-8">
            <div class="dataTables_paginate paging_bootstrap">
                <ul class="pagination" id="userPageU1">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">上一页</a></li>
                    {for start="1" end="$pageCount+1"}
                    <li><a href="#">{$i}</a></li>
                    {/for}
                    <li><a href="#">下一页</a></li>
                    <li><a href="#">尾页</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--  <div class="row" style="background-color: #f0f3f8; line-height: 70px;">
        <div class="col-sm-4">
            <div class="dataTables_info" id="sample-table-2_info">
                第&nbsp;0&nbsp;/&nbsp;0&nbsp;页，共&nbsp;0&nbsp;条
            </div>
        </div>
        <div class="col-sm-8">
            <div class="dataTables_paginate paging_bootstrap">
				<div id="layer-pages"></div>
            </div>
        </div>
    </div> -->
</div>
