<div style="position: fixed;bottom: 0;height: 80px;width:100%;background-color:#f2f2f2 " id="bottom-nav-llf">
    <ul class="wizard-steps" style="margin-left: -95px;margin-top: 20px">
        {foreach name="res" item="vo" }
            {if condition="count($res) eq 1"}
                    <style>
                        .wizard-steps li:before{
                            border:0;
                        }
                    </style>
                    <li data-target="#step1" class="active">
                        <span class="step" style="cursor: pointer;border-radius: 10px;width: 100px;line-height: 40px;border: 2px solid #ced1d6">{$vo.name}</span>
                    </li>
                {else /}
                    <li data-target="#step1" class="active" >
                        <span class="step" style="cursor: pointer;border-radius: 10px;width: 100px;line-height: 40px;border: 2px solid #ced1d6">{$vo.name}</span>
                    </li>
            {/if}
        {/foreach}
    </ul>

</div>