
            {volist name="checkInfo" id="vo"}
                <li>
                    <div class="problem">
                        {$vo.question}：
                    </div>
                    <div class="answer">
                        <label>
                            <input type="radio" name="answer" value="0" {eq name="$vo.answer" value="0"}checked="checked"{/eq} class="answer-option" />
                            <span>{$vo.yes}<i class="ion-ios-checkmark-outline" {eq name="$vo.answer" value="0"}data="1"{/eq}></i></span>
                        </label>
                        <label>
                            <input type="radio" name="answer" value="1" {eq name="$vo.answer" value="1"}checked="checked"{/eq} class="answer-option" />
                            <span>{$vo.no}<i class="ion-ios-circle-outline" {eq name="$vo.answer" value="1"}data="1"{/eq}></i></span>
                        </label>
                        <i class="ion-ios-compose-outline" id="edit"></i>
                    </div>
                    <div class="clear"></div>
                    <div class="idea-box">
                        <input type="text" name="" value="" class="idea" placeholder="请填写处理意见" />
                    </div>
                </li>
            {/volist}