<div class="bottom">
    <div class="bottom-bar">
        <!-- 三个按钮 -->
        <a href="{:url('mobile/index/index')}" class='b-btn' now="Index">
            <i class="icon ion-android-checkmark-circle"></i>
            <span class="text">安全检查</span>
        </a>
        <a href="{:url('mobile/my_log/index')}" class="b-btn" now="MyLog">
            <i class="icon ion-clipboard"></i>
            <span class="text">我的记录</span>
        </a>
        <a href="{:url('mobile/my_report/index')}" class="b-btn" now="MyReport">
            <i class="icon ion-android-home"></i>
            <span class="text">我的报表</span>
        </a>
    </div>
</div>
<script type="text/javascript">
var controller = '{:request()->controller()}'; // 坑，忘加单引号
$('.bottom-bar').find('.b-btn').each(function(i){
    if($(this).attr('now') == controller){ // 判断当前选中样式，自定义now属性
        $(this).addClass('on');
    } else {
        $(this).removeClass('on');
    }
 });
</script>
