#img-container {
    position: relative;
}

#img-container:after {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

#upload {
    /*padding-left: 6.9999%;*/
    /*padding-top: 2%;*/
}

.go-submit {
    margin-top: 10px;
    width: 100%;
}

.img-item,
.view-img {
    position: relative;
    /*float: left;*/
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 1rem;
    /*height: 2.34375rem;
    width: 2.34375rem;*/
    /*width: 30%;
    height: auto;*/
    /* height: 18rem;
    width: 22rem;*/
    width: 24%;
    height: 16rem;
    box-sizing: border-box;
}


/*.select-btn {
    height: 90px;
}*/

.img-thumb {
    border: 2px solid #17a3ff;
    border-radius: 6px;
}

.thumb-icon {
    width: 100%;
    height: 100%;
}

.img-up-add {
    display: table;
    background-color: #dcdcdc;
    display: inline-block;
}

.img-add-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.img-remove,
.del-img {
    position: absolute;
    right: -1rem;
    top: -1rem;
    display: block;
    width: 3rem;
    height: 3.3rem;
    border-radius: 50%;
    /*color: #17a3ff;*/
    color: #f7333d;
    text-align: center;
    text-decoration: none;
    font-size: 4.1rem;
    overflow: hidden;
    background-clip: padding-box;
    background: #fff;
}

.img-remove:hover {
    color: red;
}

.del-img:hover {
    color: red;
}

.del-img {
    cursor: pointer;
}

#img-file-input {
    display: none;
}
