/*首页锁定房源页css*/


/*搜索框*/

.search-box {
    width: 100%;
    text-align: center;
    background-color: #009ceb;
    padding-top: 14px;
    position: relative;
}

.search-box .search-room {
    width: 94.4444%;
    height: 30px;
    border-radius: 3px;
    text-align: center;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 3% center;
    background-size: 4%;
    font-size: 14px;
    border: 0;
    /*color: #cbc5c5;*/
}

.search-box .to-submit {
    display: none;
    position: absolute;
    right: 2%;
    top: 31%;
    width: 40px;
    height: 30px;
    background-color: #009ceb;
    color: #fff;
    border: 1px solid #fff;
}


/*房源选择*/

.room {
    width: 100%;
    height: 52px;
    background-color: #009ceb;
    /* 解决1px线条问题 */
    margin-top: -1px;
}

.room .room-select {
    width: 94.4444%;
    margin: 0 auto;
}


/*三级联动下拉框样式*/

.selecter {
    /* 选择容器 */
    z-index: 2;
    position: fixed;
    top: 44px;
    height: 52px;
    width: 100%;
    overflow: hidden;
}

.form-group {
    min-width: 25.2222%;
    max-width: 26.2222%;
    margin-top: 14px;
    font-size: 12px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: right;
    font-family: '微软雅黑';
    margin-right: 2%;
    float: left;
    padding: 4px;
}

.city-all,
.area-all,
.xq-all,
.time-all,
#time-to-time {
    position: fixed;
    left: 50%;
    top: 10px;
    border-radius: 6px;
    visibility: visible;
    opacity: 0;
    box-shadow: 0 30px 10px -20px #777;
    -webkit-transform: translateX(-50%) scale(.8, .8);
    transform: translateX(-50%) scale(.8, .8);
    /*-webkit-transform: translateX(-50%) scale(1, 1);*/
    /*transform: translateX(-50%) scale(1, 1);*/
    width: 280px;
    background: #fff;
    font-family: '微软雅黑';
    z-index: 2222;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: none;
}

.head-title {
    width: calc(100% - 20px);
    font-size: 18px;
    padding: 20px 10px;
    border-radius: 4px 4px 0 0;
}

.key-search>input {
    width: calc(100% - 22px);
    padding: 8px 4px;
    margin: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: 0;
}

.close-btn {
    position: absolute;
    top: 18px;
    right: 15px;
    color: #ccc;
    font-size: 22px;
    cursor: pointer;
    visibility: visible;
    box-sizing: border-box;
}

.select-main {
    max-height: 70vh;
    max-width: 480px;
    list-style: none;
    position: relative;
    overflow-y: auto;
    width: 100%;
    margin: 0;
}

.select-main li {
    padding: 14px 10px;
    width: calc(100% - 20px);
    border-bottom: 1px solid #efefef;
    position: relative;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.2px;
}

/*.mask {
    background: rgba(0, 0, 0, .7);
    opacity: 1;
    filter: alpha(opacity=50);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}*/


/*end 三级联动下拉框样式*/

.gps {
    width: 41px;
    height: 52px;
    float: right;
    text-align: center;
    line-height: 52px;
}

.gps-icon {
    display: block;
    font-size: 30px;
    color: #fff;
    float: left;
}

.gps span {
    font-size: 12px;
    height: 12px;
    line-height: 40px;
    color: #fff;
    display: block;
    float: left;
}


/*房源列表*/

.room-list {
    width: 100%;
    background-color: #fff;
}

.room-list li {
    width: 100%;
    height: 52px;
    border: 1px solid #f0f0f0;
}

.room-list li a {
    display: block;
    width: 94.4444%;
    height: 52px;
    margin: 0 auto;
    font-size: 14px;
    color: #000;
    line-height: 52px;
    font-weight: 600;
}

.room-list .position {
    /* 几栋几单元 */
    min-width: 61.7777%;
    display: inline-block;
    float: left;
    overflow: hidden;
}

.room-list .result {
    /* 检查结果统计 */
    max-width: 38.6666%;
    display: inline-block;
    overflow: hidden;
    float: right;
}

.room-list .result .yes-c,
.room-list .result .no-c {
    /* 已查未查 */
    display: inline-block;
    min-width: 46px;
}
