/* css reset */

@charset "UTF-8";
* {
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: '宋体', 'Microsoft YaHei', Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}

ol,
li,
ul {
    list-style: none;
}

html {
    -webkit-text-size-adjust: 100%;
}

a,
div,
header,
span {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
textarea {
    outline: 0;
    resize: none;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
}


/* end css reset */

body {
    background-color: #f3f3f3;
}

#big-box {
    width: 100%;
    height: 100%;
}


/*底部*/

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.bottom-bar {
    margin: 0 auto;
    max-width: 414px;
    /* 最宽兼容iPhone6 Plus */
    position: relative;
    height: 52px;
    box-shadow: 0px -1px 3px #C4C4C4;
    background: #fff;
}

.bottom-bar .b-btn {
    display: inline-block;
    width: 33.3333%;
    font-size: 12px;
    color: #999999;
    float: left;
    height: 50px;
    position: relative;
    text-align: center;
}

.on {
    color: #0f90e7!important;
}

.on .icon {
    /* 图标颜色 */
    color: #0f90e7!important;
}

.bottom-bar .b-btn .icon {
    display: inline-block;
    margin-top: 5px;
    font-size: 25px;
    color: #8c8c8c;
}

.bottom-bar .b-btn .text {
    display: block;
    padding-top: 4px;
}


/* 遮罩 */

.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #666;
    background: rgba(0, 0, 0, .4);
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 100;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    display: none;
}


/*end 遮罩*/
