{extend name="common/base" /}
{block  name="oNav"}
<li >
    <a href="#">
        <i class="icon-dashboard"></i>
        <span class="menu-text"> 首页 </span>
    </a>
</li>
{foreach name="res" item="vo" }
{switch name="vo.id"}
{case value="1"}
<li f_id="{$vo.id}">
    <a href="#">
        <i class="icon-edit"></i>
        <span class="menu-text"> {$vo.name} </span>
    </a>

</li>
{/case}
{case value="2"}
<li f_id="{$vo.id}">
    <a href="#" >
        <i class=" icon-check"></i>
        <span class="menu-text">  {$vo.name} </span>
    </a>
</li>
{/case}
{case value="3"}
<li f_id="{$vo.id}">
    <a href="#">
        <i class=" icon-credit-card"></i>
        <span class="menu-text">  {$vo.name} </span>
    </a>
</li>
{/case}
{case value="4"}
<li f_id="{$vo.id}" >
    <a href="#">
        <i class="icon-cogs"></i>
        <span class="menu-text">  {$vo.name} </span>
    </a>
</li>
{/case}
{case value="5"}
<li f_id="{$vo.id}" class="active">
    <a href="#" >
        <i class="icon-desktop"></i>
        <span class="menu-text">  {$vo.name} </span>
    </a>
</li>
{/case}
{case value="6"}
<li f_id="{$vo.id}">
    <a href="{:url('home/Task/show')}" >
        <i class="icon-book"></i>
        <span class="menu-text">  {$vo.name} </span>
    </a>
</li>
{/case}
{default /}default
{/switch}
{/foreach}
{/block}

{block name="txbody"}
<span id="tname" style="display: none">{$tname}</span>
<div class="modal fade" id="myModalI1" tabindex="-1" role="dialog" aria-labelledby="myModalLabelI1"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabelI1">
                    修改用户信息
                </h4>
            </div>
            <form class="form-horizontal" role="form" action="" method="post" autocomplete="off" id="updateIu">
                <div class="modal-body">
                    <table style="width: 95%;line-height: 300%">
                        <tr>
                            <td style="width: 20%;text-align: right"><label>区域 <input type="text" name="qy" disabled style="width: 90px;font-size: 12px"></label></td>
                            <td style="width: 20%;text-align: right"><label>区/街 <input type="text" name="xq" disabled style="width: 90px;font-size: 12px"></label></td>
                            <td style="width: 20%;text-align: right"><label>楼栋 <input type="text" name="ld" disabled style="width: 90px;font-size: 12px"></label></td>
                            <td style="width: 20%;text-align: right"><label>单元 <input type="text" name="dy" disabled style="width: 90px;font-size: 12px"></label></td>
                            <td style="width: 20%;text-align: right"><label>房号 <input type="text"  name="fh" disabled style="width: 90px;font-size: 12px"></label></td>
                        </tr>
                        <tr>
                            <td style="width: 20%;text-align: right"><label>编号 <input type="text" placeholder="请输入编号" name="bh" required style="width: 90px;font-size: 12px"></label></td>
                            <td style="width: 20%;text-align: right"><label>姓名 <input type="text" placeholder="请输入姓名" name="mz" required style="width: 90px;font-size: 12px"></label></td>
                            <td style="width: 20%;text-align: right"><label>电话 <input type="text" placeholder="请输入电话" name="dh" required style="width: 90px;font-size: 12px"></label></td>
                            <td style="width: 20%;text-align: right"><label>类型 <input type="text" placeholder="请输入类型" name="lx" required style="width: 90px;font-size: 12px"></label></td>
                            <td style="width: 20%;text-align: right"><label>品牌 <input type="text" placeholder="请输入品牌" name="pp" required style="width: 90px;font-size: 12px"></label></td>
                        </tr>
                        <tr>
                            <td style="width: 20%;text-align: right"><label>表底数 <input type="text" placeholder="请输入表底数" name="bds" required style="width: 90px;font-size: 12px"></label></td>
                            <td style="width: 20%;text-align: right"><label>方向
                                <select name="fx" id="fx" required  style="width: 90px;font-size: 12px">
                                    <option value=""></option>
                                    <option value="上">上</option>
                                    <option value="下">下</option>
                                    <option value="右">右</option>
                                    <option value="左">左</option>
                                </select>
                            <td style="width: 20%;text-align: right"></label></td>
                            <td style="width: 20%;text-align: right"></label></td>
                            <td style="width: 20%;text-align: right"></label></td>
                        </tr>
                    </table>
                    <input type="hidden" name="rf">
                </div>
                <div class="modal-footer">
                    <div class="col-md-offset-3 col-md-9">

                        <button class="btn btn-info" type="submit">

                            <i class="icon-ok bigger-110"></i>

                            确认修改

                        </button>

                        <buttonss class="btn btn-default" data-dismiss="modal">关闭</buttonss>
                    </div>


                </div>
            </form>
        </div>

    </div>
</div>
<div id="iitzPage">
    <div class="table-header" style="margin-top: 10px;float: left;width: 100%">
        燃气用户初始化
    </div>
    <div style="width: 100%;padding: 10px 0;float: left;background-color: #f0f3f8">
        <label style="float: left;margin-left: 1%">城市：
            <select name="city" id="city" style="width: 120px">
                <option value="全部">全部</option>
                {foreach name="ct" item="value" key="k" }
                <option value="{$value.id}">{$value.name}</option>
                {/foreach}
            </select>
        </label>
        <label style="float: left;margin-left: 1%">区域：
            <select name="qy" id="qy" style="width: 120px">
                <option value="全部">全部</option>
                {foreach name="qy" item="value" key="k" }
                <option value="{$value.id}" pid="{$value.parent_id}"  style="display: none">{$value.name}</option>
                {/foreach}
            </select>
        </label>
        <label style="float: left;margin-left: 1%">小区/街道：
            <select name="xq" id="xq" style="width: 120px">
                <option value="全部">全部</option>
                {foreach name="xq" item="value" key="k" }
                <option value="{$value.id}" xid="{$value.xzqy_id}" style="display: none">{$value.name}</option>
                {/foreach}
            </select>
        </label>
        <div class="nav-search" id="nav-search" style="float: right;position: relative">

                <span class="input-icon">

                    <input  type="text" id="room" placeholder="按房号或编号搜索" class="nav-search-input" autocomplete="off">
                    <i class="icon-search nav-search-icon" style="cursor: pointer" id="likeRoom"></i>
                </span>


        </div>
    </div>
    <div class="table-responsive" id="ipage">
        <table id="sample-table-i1" class="table table-striped table-bordered table-hover"  style="margin-bottom: 0">
            <thead>

            <tr>
                <th class="center" style="width: 5%">
                    序号
                </th>
                <th>地址</th>
                <th>房号</th>
                <th>用户编号</th>
                <th>表底数</th>
                <th>姓名</th>
                <th>电话</th>
                <th>气表类型</th>
                <th>品牌</th>
                <th style="width: 5%">进气方向</th>
                <th  style="width: 8%">操作</th>
            </tr>
            </thead>
            <tbody>
            {if condition="count($room) eq 0 "}
            <tr>
                <td colspan="11">
                    暂时没有数据...
                </td>
            </tr>
            {else/}
            {foreach name="room" item="value" key="k" }
                <tr iiid="{$value.id}">
                    <td class="center">{$start*$num+$k+1}</td>
                    <td>
                        {$value.xname}-{$value.pname}
                    </td>
                    <td>{$value.bname}-{$value.unit}单元-{$value.room}</td>
                    <td>{$value.cstcode}</td>
                    <td>
                        {if condition="$value.basenumber eq '' "}
                                     0
                        {else/}
                            {$value.basenumber}
                        {/if}
                    </td>
                    <td>
                        {if condition="$value.cstname eq '' "}
                            无
                        {else/}
                        {$value.cstname}
                        {/if}
                    </td>
                    <td>
                        {if condition="$value.telphone eq '' "}
                            无
                        {else/}
                        {$value.telphone}
                        {/if}
                    </td>
                    <td>
                        {if condition="$value.cname eq '' "}
                            无
                        {else/}
                        {$value.cname}
                        {/if}
                    </td>
                    <td>
                        {if condition="$value.csname eq '' "}
                            无
                        {else/}
                        {$value.csname}
                        {/if}
                    </td>
                    <td>
                        {if condition="$value.direction eq '' "}
                            无
                        {else/}
                            {$value.direction}
                        {/if}
                    </td>
                    <td class="center" style="width: 5%">
                        <a href="#" class="icon-edit" style="background-color: #6eb9ff;color: #FFF;border-style: none;font-size: 18px;padding: 5px" data-toggle="modal" data-target="#myModalI1"></a>
                        <button class="icon-trash" style="background-color: #ff7a62;color: #FFF;border-style: none;font-size: 18px;padding: 5px">
                        </button>
                    </td>
                </tr>
            {/foreach}
            {/if}
            <tr>
                <td colspan="11">
                    <a type="button" href="{:url('home/Initialization/checkOut')}" class="icon-cloud-download" style="background-color: #17a3ff;color: #FFF;border-style: none ;padding: 5px 10px;margin-left: 1%;cursor: pointer">
                        下载模板
                    </a>
                    <form action="" enctype="multipart/form-data" id="upload" style="display: inline">
                        <input type="file" name="excel" style="display: none" accept="application/vnd.ms-excel" id="file">
                        <button onclick="$('input[type=file]').click();" type="button" class="icon-cloud-upload" style="background-color: #17a3ff;color: #FFF;border-style: none ;padding: 5px 23px;margin-left: 1%;cursor: pointer" id="checkIn">
                            导入数据
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>

        </table>
        <div  style="padding-top:10px ;background-color: #f0f3f8;width: 100%;height: 50px">
            <div class="col-sm-4">
                <div class="dataTables_info" id="sample-table-2_info">
                    当前
                    {if condition="$pageCount eq 0 "}
                    0
                    {else/}
                    {$page}
                    {/if}
                    /
                    {if condition="$pageCount eq '' "}
                    0
                    {else/}
                    <span id="pageCount">{$pageCount}</span>
                    {/if}
                    页，共
                    {if condition="$count eq '' "}
                    0
                    {else/}
                    {$count}
                    {/if}
                    条
                </div>
            </div>
            <div class="col-sm-8">
                <div class="dataTables_paginate paging_bootstrap">
                    <ul class="pagination" id="userPageS1" >
                        {if condition="$pageCount gt 1 "}
                        {if condition="$page gt 1 "}
                        <li><a href="#" style="color: black">上一页</a></li>
                        {if condition="$pageCount gt 5 "}
                        <li><a href="#" style="color: black">首页</a></li>
                        {/if}
                        {/if}
                        {assign name="a" value="0" /}
                        {assign name="b" value="0" /}
                        {assign name="c" value="0" /}
                        {for start="1" end="$pageCount+1" name='i'}
                        {if condition="$i eq $page "}
                        <li><a href="#" style="background-color: rgb(111, 179, 224);color: #FFF">{$i}</a></li>
                        {else/}
                        {if condition="$pageCount gt  5"}
                        {if condition="$page elt 3 "}
                        {if condition="$i gt 5"}
                        <li><a href="#" style="color: black">...</a></li>
                        {php}break;{/php}
                        {else}
                        <li><a href="#" style="color: black">{$i}</a></li>
                        {/if}
                        {elseif condition="($page gt 3) AND ($page lt ($pageCount-2))"/}
                        {if condition="($i egt ($page-2)) AND ($i elt ($page+2))"}
                        <li><a href="#" style="color: black">{$i}</a></li>
                        {elseif condition="$i lt $page-2"/}
                        {if condition="$a eq 0"}
                        <li><a href="#" style="color: black">...</a></li>
                        <i style="display: none">{$a++}</i>
                        {/if}
                        {elseif condition="$i gt $page+2"/}
                        {if condition="$b eq 0"}
                        <li><a href="#" style="color: black">...</a></li>
                        <i style="display: none">{$b++}</i>
                        {/if}
                        {/if}
                        {elseif condition="$page egt ($pageCount-2)"/}
                        {if condition="($i egt $pageCount-4)"}
                        <li><a href="#" style="color: black">{$i}</a></li>
                        {else/}
                        {if condition="$c eq 0"}
                        <li><a href="#" style="color: black">...</a></li>
                        <i style="display: none">{$c++}</i>
                        {/if}
                        {/if}
                        {/if}
                        {else/}
                        <li><a href="#" style="color: black">{$i}</a></li>
                        {/if}
                        {/if}

                        {/for}
                        {if condition="$page lt $pageCount "}
                        {if condition="$pageCount gt 5 "}
                        <li><a href="#" style="color: black">尾页</a></li>
                        {/if}
                        <li><a href="#" style="color: black">下一页</a></li>
                        {/if}
                        {/if}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

{/block}
