<div class="table-header" style="margin-top: 10px;float: left;width: 100%">
    业务参数明细表
</div>
<div class="table-responsive">

    <table id="sample-table-s1" class="table table-striped table-bordered table-hover"  style="margin-bottom: 0">

        <thead>

        <tr>
            <th class="center" style="width: 10%">
                序号
            </th>
            <th id="th1" style="width: 60%">问题</th>
            <th style="width: 20%">选择项</th>
            <th class="hidden-480" style="width: 10%">操作</th>
        </tr>
        </thead>
        <tbody>
        {if condition="count($ses) eq 0 "}
        <tr>
            <td colspan="4">暂时没有用户数据...</td>
        </tr>
        {else/}
        {foreach name="ses" item="value" key="k"}
        <?php
            $arr=explode("|",$value['name']);
        ?>
        <tr id="{$value.id}" pid="{$value.ywcs_id}">
            <td class="center">{$start*$num+$k+1}</td>
            <td class="center">{$arr[0]}</td>
            <td class="center">
                {if condition="count($arr) eq 1"}
                该项没有选择项
                {else/}
                {$arr[1]}/{$arr[2]}
                {/if}
            </td>
            <td class="center">
                <a href="#" class="icon-edit" style="background-color: #6eb9ff;color: #FFF;border-style: none;font-size: 18px;padding: 5px"
                   data-toggle="modal" data-target="#myModals1">
                </a>
                <button class="icon-trash" style="background-color: #ff7a62;color: #FFF;border-style: none;font-size: 18px;padding: 5px">
                </button>
            </td>
        </tr>
        {/foreach}
        {/if}

    </table>
    <div  style="padding-top:10px ;background-color: #f0f3f8;width: 100%;height: 50px">
        <div class="col-sm-4">
            <div class="dataTables_info" id="sample-table-2_info">
                当前
                {if condition="$pageCount eq 0 "}
                0
                {else/}
                {$page}
                {/if}
                /
                {if condition="$pageCount eq '' "}
                0
                {else/}
                <span id="pageCount">{$pageCount}</span>
                {/if}
                页，共
                {if condition="$count eq '' "}
                0
                {else/}
                {$count}
                {/if}
                条
            </div>
        </div>
        <div class="col-sm-8">
            <div class="dataTables_paginate paging_bootstrap">
                <ul class="pagination" id="userPageS2" >
                    {if condition="$pageCount gt 1 "}
                    {if condition="$page gt 1 "}
                    <li><a href="#" style="color: black">上一页</a></li>
                    {if condition="$pageCount gt 5 "}
                    <li><a href="#" style="color: black">首页</a></li>
                    {/if}
                    {/if}
                    {assign name="a" value="0" /}
                    {assign name="b" value="0" /}
                    {assign name="c" value="0" /}
                    {for start="1" end="$pageCount+1" name='i'}
                    {if condition="$i eq $page "}
                    <li><a href="#" style="background-color: rgb(111, 179, 224);color: #FFF">{$i}</a></li>
                    {else/}
                    {if condition="$pageCount gt  5"}
                    {if condition="$page elt 3 "}
                    {if condition="$i gt 5"}
                    <li><a href="#" style="color: black">...</a></li>
                    {php}break;{/php}
                    {else}
                    <li><a href="#" style="color: black">{$i}</a></li>
                    {/if}
                    {elseif condition="($page gt 3) AND ($page lt ($pageCount-2))"/}
                    {if condition="($i egt ($page-2)) AND ($i elt ($page+2))"}
                    <li><a href="#" style="color: black">{$i}</a></li>
                    {elseif condition="$i lt $page-2"/}
                    {if condition="$a eq 0"}
                    <li><a href="#" style="color: black">...</a></li>
                    <i style="display: none">{$a++}</i>
                    {/if}
                    {elseif condition="$i gt $page+2"/}
                    {if condition="$b eq 0"}
                    <li><a href="#" style="color: black">...</a></li>
                    <i style="display: none">{$b++}</i>
                    {/if}
                    {/if}
                    {elseif condition="$page egt ($pageCount-2)"/}
                    {if condition="($i egt $pageCount-4)"}
                    <li><a href="#" style="color: black">{$i}</a></li>
                    {else/}
                    {if condition="$c eq 0"}
                    <li><a href="#" style="color: black">...</a></li>
                    <i style="display: none">{$c++}</i>
                    {/if}
                    {/if}
                    {/if}
                    {else/}
                    <li><a href="#" style="color: black">{$i}</a></li>
                    {/if}
                    {/if}

                    {/for}
                    {if condition="$page lt $pageCount "}
                    {if condition="$pageCount gt 5 "}
                    <li><a href="#" style="color: black">尾页</a></li>
                    {/if}
                    <li><a href="#" style="color: black">下一页</a></li>
                    {/if}
                    {/if}
                </ul>
            </div>
        </div>
    </div>

</div>